name: Generate Terraform Docs

on:
  pull_request:
    branches: [main]
    paths:
      - '**.tf'
      - '.terraform-docs.yml'
  push:
    branches: [main]
    paths:
      - '**.tf'
      - '.terraform-docs.yml'
  workflow_dispatch:

jobs:
  docs:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.ref }}

      - name: Render terraform docs
        uses: terraform-docs/gh-actions@v1.3.0
        with:
          working-dir: .
          output-file: README.md
          output-method: inject
          git-push: "true"
          git-commit-message: "docs: auto-generate terraform documentation"
